h4{
    font-family: "Poppins", sans-serif;
}

.tag{
    color: #EB5E28;
    margin-left:10px;
    margin-bottom:5px;
    font-weight:bold;
}

.blog{
    column-count: 3;
    column-gap: 20px;
    width:80%;
    margin:auto;
 
}

.blog-item{
    border-radius: 20px;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 20px;
    break-inside: avoid;
    transition: all .2s ease-in-out; 
}

.blog-item img{
    max-width: 100%;
    display: block;
}

.blog-item:hover{
    transform: scale(1.03); 
    cursor: pointer;
}

.blog-content{
    border-radius: 0 0 20px 20px;
}

.blog-item > img {
    grid-row: 1 / -1;
    grid-column: 1;
}

#blog-title{
    margin-top:150px;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}



@media screen and (max-width:700px){
    .blog{
        column-count: 2;
        width:90%;
    }
}

@media screen and (max-width:480px){
    .blog{
        column-count: 1;
        width:90%;
    }
}