/* HOME PAGE */
header h1{
    float:left;
    margin-top:7px;
    margin-left:10px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}
  
/* Hide the images by default */
.mySlides {
    display: none;
    
}
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    padding: 8px 12px;
    position: absolute;
    bottom: 35%;
    left:15%;
    width:45%;
  }

  .text h1, .text p{
    color:#f2f2f2;
  }
  
  .main-text{
    font-size: 50px;
    margin-bottom:10px;
      
    font-weight: 400;
    font-family: Georgia, Times, Times New Roman, serif;
  }
  
  .sub-text{
  font-size:18px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dots{
    position: absolute;
    bottom:5%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:100px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #EB5E28;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

.main button{
    position:absolute;
    top:100%;
    padding:10px;
    padding-left:25px;
    padding-right:25px;
    background-color: #EB5E28;
    border:none;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
}

.main button:hover{
    background-color: white
}

.main button:hover > a{
    color:black;
}

.main a{
    color:white;
    text-decoration: none;
}

.grid{
    color:#403D39;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap:15px;
}

.box-container span{
    float:right;
}

.box-container{
    width:50%;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.box{
    margin-bottom: 40px;
    margin-top:20px;
    text-align: center;
    background-color: #DFDFDF;
    border-radius: 10px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.box img{
    
    height:50px;
}

.box p{
    color:rgb(73, 73, 73);
}


.category-heading{
    margin-bottom:-20px;
    color:#403D39;
}

.home-content{
    width:70%;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 35% 55%;
    align-items: center;
    grid-gap:10%;
    font-size: 16px;
}

.home-content img{
    width:90%;
    border-radius: 50%;
    box-shadow: 60px -60px #EB5E28;
    margin-top:100px;
}

.inner{
    position: relative;
    width:100%;
    margin-top:50px;
    margin-bottom:50px;
}

.inner img{
    width:100%;
    height:auto;
    overflow: hidden;
    display: block;
}

.overlay{
    position:absolute;
    background: rgba(0, 0, 0, 0.5);
    height:100%;
    width:30%;
    top:0;
    right:0;
    color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.overlay-text{
    width:75%;
}

.overlay h3{
    color:white;
    font-size: 26px;
}


  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @media screen and (max-width:1366px){
    .box img{
        height:35px;
    }
    
}

@media screen and (min-width:1366px){
    #img-title{
        font-size: 50px;
        top: 100px;
    }

    button{
        top: 320px;
    }
}

@media screen and (min-width:900px) and (max-width:1366px){
    #img-title{
        font-size: 40px;
        top: 80px;
    }
    button{
        top: 260px;
    }

    .main-text{
        
        font-size: 36px;
    }
    .home-content{
        width:80%;
    }
    .sub-text{
        font-size: 20px;
    }

    .overlay h3{
        font-size: 20px;
    }

    .box-container{
        width:80%;
    }
}

@media screen and (max-width:900px){
    .text, .box-container{
        width:80%;
    }

    .main-text{
        font-size: 24px;
    }
}

@media screen and (max-width:900px) and (min-width:480px){
    #img-title{
        font-size: 30px;
        top: 50px;
    }
    
    .text button{
        font-size: 14px;
    }
    .sub-text{
        font-size: 16px;
    }

    .overlay{
        width:50%;
    }
    .overlay h3{
        font-size: 18px;
    }

    .home-content{
        width:80%;
    }
}

@media screen and (max-width:700px){
    #img-title{
        font-size: 16px;
        top: 10px;
    }

    .bestsellers{
        width:90%;
    }

    .sub-text, .enjoy{
        display:none;
    }

    .home-content img{
        width:100%;
    }

    .grid{
        grid-template-columns: 50% 50%;
        gap:30px;
        margin-bottom:50px;
        margin:0 auto;
    }

    .box{
        margin-bottom:-40px;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    .home-content{
        display:block;
    }

    .overlay h3{
        font-size: 14px;
    }
}
