/* SHOP */
.shop-container{
  width:100%;
  margin-top: 100px;
  display:flex;
  justify-content: center;
}

.accordion{
  max-width: 400px;
  overflow: hidden;
}

.accordion__label, .accordion__content{
  padding: 14px 20px;
}

.accordion__label{
  display: block;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s;
}

.accordion__label:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.accordion__content{
  background: white;
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
  
}

.accordion__input{
  display: none;
  
}

.accordion__input:checked ~ .accordion__content{
  display: block;
}

/* SIDEBAR */
.filters{
  width:15%;
}

.filters h2{
  margin-left:20px;
}

/* MAIN CONTENT */
#shop{
  margin-left: 50px;
  font-size: 40px;
}

.products{
  width:80%;
}

.item-grid{
  margin-left: 50px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 20px;
  margin-bottom:50px;
}

.products img {
  transition: transform .2s ease-in-out;
  width:100%;
}

.products img:hover {
  transform: rotate(5deg);
}

.book-title{
  
  font-size: 18px;
}

.item .author{
  color:rgb(95, 95, 95);
}

.products button{
  background-color: transparent;
  border: 2px solid #403D39;
  padding:10px;
  width:100%;
  
}

.products button:hover{
  background-color: #403D39;
  color:white
}

.circle {
  margin-top:10px;
  margin-left:70px;
  height: 200px;
  width: 200px;
}